*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
  background-color: #242C39;
  color: #FFFFFF;
}

:root {
  --wp-admin-theme-color: #FFFFFF;
  --wp-admin-theme-color-darker-10: #006ba1;
  --wp-admin-theme-color-darker-20: #005a87;
}

:root {
  --darkreader-neutral-background: #ffd428;
  --darkreader-neutral-text: #d8d4cf;
  --darkreader-selection-background: #ffd428;
  --darkreader-selection-text: #e8e6e3;
}



@media only screen and (min-width: 48em)
html {
    font-size: 100%;
}

html, input, textarea, button {
    font-family: adelle-sans,sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
}

html {
    font-family: sans-serif;
    font-weight: regular;
    font-size: 87.5%;
    line-height: 1.65;
    -webkit-font-smoothing: antialiased;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


::-webkit-scrollbar {
    background-color: #ffd428;
    color: #aba499;
}

::-webkit-scrollbar-corner {
    background-color: #181a1b;
}

::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}

::selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
}

/* end of responsive */
.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: #FFFFFF;
  font-size: 5vw;
  font-family: monospace;
  padding-bottom: 15vw;
}

.card {
  background-color: #4D596F;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: #FFFFFF;
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: #F86B61;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: #242C39;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
figure {
  margin: 0;
}

.password {
  color: #FFFFFF;
}