/* White, Light, Dark, Black, BLUE */

:root {
  --main-a: #e2e2e2;
  --main-b: #A9A9A9;
  --main-c: #37474F;
  --main-d: #222222;
  --main-e: #026EBE;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--main-a);
}

@media only screen and (min-width: 48em) {
  html {
    font-size: 100%;
  }
}

html, input, textarea, button {
    font-family: adelle-sans,sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
}

html {
    font-family: sans-serif;
    font-size: 87.5%;
    line-height: 1.65;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
}

::-webkit-scrollbar {
    background-color: #ffd428;
    color: #aba499;
}

::-webkit-scrollbar-corner {
    background-color: #181a1b;
}

::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}

/* end of responsive */
.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: var(--main-c);
  font-size: 5vw;
  font-family: monospace;
  padding-bottom: 5vw;
}

.card {
  background-color: var(--main-b);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: hsl(0,0%,6.7%) 7px 7px 10px 0px;
  color: var(--main-c);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: #F86B61;
  border-radius: 25px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: #242C39;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

button:hover {
  background-color: #996699;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
figure {
  margin: 0;
}

.password {
  color: #FFFFFF;
}

.form {
  margin-top: 2rem;
  display: grid;
  row-gap: 1rem;
  column-gap: 4rem; 
  /* display: grid; */
  justify-content: center;
  align-items: center;
}

label {
  font-weight: bold;
}

#passwordlength {
  width: 3vw;
  background-color: white;
  color: black;
}


.btn:hover {
  background-color: #A46B61;
  color: white;
}

.title {
  font-size:6rem;
}